/* CSS Document */

html, body {
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 13px;
}

body {
    background: #ffffff url("../img/bg.jpg");
    background-size: cover;
}


h1 {
	margin: 2px;
  
}
	
button {
    padding: 8px;
}

#content {
	padding: 20px;
	display:flex;
    flex-wrap:wrap;
}
	

#gamespace {
	margin: 20px;
    height: 350px;
    width:600px;
	background-color: #FFF;
	border: 2px solid #CCC; 
}


.col1{
    text-align:center;
    width: 550px;
    min-width: 400px;
}

#leftside {
    margin: 20px;
    background-color: #1d2d7c;
    border-radius: 20px;
    border: 2px solid #CCC;
    color: bisque;
    font-size: 16px;
    font-weight: bold;

}

@media only screen and (max-width: 900px){
    #content{
        display: inline-block;
    }
    .col1{
        margin:0 auto;
    }
}