/* CSS Document */

html, body {
	font-family: sans-serif;
	font-size: 13px;
}

body {
    background: #ffffff url("../img/bg.jpg");
    background-size: cover;
}


h1 {
    padding: 10px;
    text-align: center;
}
	
button {
    padding: 8px;
}

#content {
	padding: 20px;
    height: 25vh;
	display:flex;
    flex-wrap:wrap;
}
	

#gamespace {
    width: 100%;
    height: 100%;
	background-color: #4d4385;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.5);
    padding: 10px;

}

.col1{
    text-align:center;
    width: 550px;
    min-width: 400px;
}

#leftside {
    background-color: #1d2d7c;
    border-radius: 10px;
    color: bisque;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.5);
    height: 100%;
    padding: 10px;
}
button {
    background-color: #1e2965;
    color: bisque;
    border: 1px solid bisque;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(255, 164, 129, 0.5);
    transition: 0.7s all ease;
}

button:hover {
    background-color: #1e2d7c;
    box-shadow: 0 0 10px rgb(255, 198, 75);
}

button:active {
    transform: translateY(3px);
    background-color: #3d54c8;

}
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 600px){
    #grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 900px){
    #content{
        display: inline-block;
    }
    .col1{
        margin:0 auto;
    }
}

.dot, .bdot {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}