/* CSS Document */

html, body {
    font-family: 'Playwrite NZ Basic', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url("../img/bg.jpg");
    background-size: contain;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    border: none;
}

hr {
    margin-top: 3px;
}

button {
    padding: 8px;
}

#content {
}


#gamespace {
    width: 100%;
    height: 100%;
    background-color: #4d4385;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.5);
    padding: 10px;

}

.col1 {
    text-align: center;
    width: 550px;
    min-width: 400px;
}

#leftside {
    background-color: #1d2d7c;
    border-radius: 10px;
    color: bisque;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.5);
    height: 100%;
    padding: 10px;
}

button {
    background-color: #1e2965;
    color: bisque;
    border: 1px solid bisque;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(255, 164, 129, 0.5);
    transition: 0.7s all ease;
}

button:hover {
    background-color: #1e2d7c;
    box-shadow: 0 0 10px rgb(255, 198, 75);
}

button:active {
    transform: translateY(3px);
    background-color: #3d54c8;

}

#grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
    width: 80%;
    height: 100%;
    margin: auto;
}

#info {
    background-color: #1d2d7c;
    border-radius: 10px;
    color: bisque;
    font-size: 16px;
    font-weight: bold;
    width: 10%;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.5);
    height: 100%;
    padding: 10px;
}

#gamespaceTotality {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    gap: 20px;
}

#leaderstats {
    background-color: #1d2d7c;
    border-radius: 10px;
    color: bisque;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.5);
    height: 100%;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #3745a1;
}

table th, table td {
    border: 1px solid bisque;
    padding: 8px;
    text-align: left;
    color: bisque;
}

#back_to_menu {
    margin-top: 15px;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    #content {
        display: inline-block;
    }

    .col1 {
        margin: 0 auto;
    }
}

.cat, .dog, .fish, .time, .special-cat {
    animation: pulse 1s infinite;
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5px, 0);
    }
    50% {
        transform: translate(5px, 0);
    }
    75% {
        transform: translate(-5px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}